variable "project_prefix" {
  type        = string
  description = "prefix string put in front of string"
  default     = "f5xc"
}

variable "project_suffix" {
  type        = string
  description = "prefix string put at the end of string"
  default     = "01"
}

variable "f5xc_api_p12_file" {
  type    = string
}

variable "f5xc_api_url" {
  type    = string
}

variable "f5xc_tenant" {
  type    = string
}

module "healthcheck_http" {
  source                = "./modules/f5xc/healthcheck"
  f5xc_tenant           = var.f5xc_tenant
  f5xc_namespace        = "system"
  f5xc_api_url          = var.f5xc_api_url
  f5xc_api_p12_file     = var.f5xc_api_p12_file
  f5xc_healthcheck_type = "http"
  f5xc_healthcheck_name = format("%s-hc-%s", var.project_prefix, var.project_suffix)
}

module "healthcheck_tcp" {
  source                        = "./modules/f5xc/healthcheck"
  f5xc_tenant                   = var.f5xc_tenant
  f5xc_namespace                = "system"
  f5xc_api_url                  = var.f5xc_api_url
  f5xc_api_p12_file             = var.f5xc_api_p12_file
  f5xc_healthcheck_type         = "tcp"
  f5xc_healthcheck_name         = format("%s-hc-%s", var.project_prefix, var.project_suffix)
  f5xc_healthcheck_send_payload = "000000FF"
}